body {
	margin: 0;
	padding: 0;
	font-family: TitilliumWeb;
	background: url('../UI/CodexBG.png');
	color: #ece6e6;
	font-size: 17px;
	font-family: montserrat;
}

@font-face {
font-family: Martina;
src: url('Martina.ttf');
}

#CodexContainer {
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

#CodexEntryContainer {
width: 700px;
height: 880px;
box-sizing: border-box;
padding: 20px 35px 35px 35px;
}
#CodexEntry {
width: calc(100% - 20px);
height: 838px;
overflow-y: auto;
padding-right: 20px;
}
.BG1 {
background: url('../UI/CodexEntryBG.png');
background-size: 100% 100%;
}
.BG2 {
background: url('../UI/CodexEntryBG2.png');
background-size: 100% 100%;
}

#ComputerContainer {
width: 48vw;
height: 100vh;
display: block;
margin: 0 auto;
}
#ComputerLoginContainer {
display: grid;
grid-template-columns: auto auto;
column-gap: 10px;
justify-content: center;
align-items: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
#ComputerLoginContainer input {
display: block;
border: none;
border: 1px solid #00d9ff;
height: 25px;
background: #17272a;
color: white;
padding: 2px;
box-sizing: border-box;
font-size: 18px;
}
#ComputerLoginContainer input:focus {
background-color: #124d58;
outline: none;
}
#ComputerLoginContainer button {
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
}
#LoginErrorMessages {
text-align: center;
background: red;
color: black;
border-radius: 5px;
margin-top: 10px;
visibility: hidden;
}
#EkkoranTerminal {
background: rgba(0,0,0,0.1);
display: none;
width: 100%;
height: 100%;
padding: 25px;
box-sizing: border-box;
position: relative;
}
#TerminalMessages {
position: absolute;
bottom: 0;
left: 0;
height: 150px;
padding: 10px;
box-sizing: border-box;
width: 100%;
border-top: 2px solid gray;
}
#TerminalMessages li:hover {
cursor: pointer;
color: #00d9ff;
}
.Message {
display: none;
height: calc(100% - 150px);
overflow-y: scroll;
}
.TerminalMenu {
display: none;
}

#JournalContainer {
width: 1365px;
height: 845px;
background: url('../UI/JournalBG.png');
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: grid;
grid-template-columns: 50% 50%;
font-family: Martina;
color: black;
font-size: 22px;
line-height: 1;
font-style: italic;
}
#Page1 {
width: 82%;
margin-left: 15%;
height: 90%;
margin-top: 5%;
box-sizing: border-box;
padding: 20px;
}
#Page2 {
width: 82%;
margin-left: 2%;
height: 90%;
margin-top: 5%;
box-sizing: border-box;
padding: 20px;
}

@media only screen and (max-height: 800px) { 
#CodexEntryContainer {
height: 100vh;
}
#CodexEntry {
height: 100%;
}
}
@media only screen and (max-width: 699px) {
#CodexEntryContainer {
width: 100vw;
}
body {
font-size: 14px;
}
}
@media only screen and (max-width: 1000px) {
#ComputerContainer {
width: 100vw;
}
}
@media only screen and (max-width: 1365px) {
#JournalContainer {
display: block;
background-size: 250% 250%;
background-position: 15% 50%;
position: static;
transform: none;
overflow-y: auto;
width: 100vw;
padding-bottom: 20px;
}
#Page1 {
width: 100%;
margin-left: 0;
margin-top: 0;
height: auto;
}
#Page2 {
width: 100%;
margin-left: 0;
margin-top: -50px;
height: auto;
}
}
